PORT=5001
MONGODB_URL=
TMDB_BASE_URL=https://api.themoviedb.org/3/
TMDB_KEY=
TOKEN_SECRET=

INTERACTION_DETAIL_VIEW_DEDUP_MINUTES=15
INTERACTION_SEARCH_CLICK_DEDUP_MINUTES=5
INTERACTION_RECOMMENDATION_CLICK_DEDUP_MINUTES=5
INTERACTION_TRAILER_PLAY_DEDUP_MINUTES=15
RECOMMENDATION_IMPRESSION_RETENTION_DAYS=90
ML_SERVICE_URL=http://localhost:8000
ML_INTERNAL_KEY=
ML_REQUEST_TIMEOUT_MS=5000
